@model IEnumerable<Agilisium.TalentManager.Web.Models.MenuItem>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model)
                    {
                        if (!item.IsParent && item.ParentID == -1)
                        {
                            <li><a href="@Url.Action(item.Action,item.Controller)">@item.ItemName</a></li>
                        }
                        else if (item.IsParent && item.ParentID >= -1)
                        {
                            var childItems = Model.Where(p => p.ParentID == item.ID).ToList();
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action(item.Action,item.Controller)">
                                    @item.ItemName
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var ch in childItems)
                                    {
                                        <li><a href="@Url.Action(ch.Action,ch.Controller)">@ch.ItemName</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
